* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio proprietà utili da reciclare */

.container{
    width: 78vw;
    margin: auto;
    height: 100%;
}

.container::after{
    clear: both;
    display: table;
    content: '';
}

.clearfix{
    clear: both;
    display: table;
    content: '';
}
.button{
    border-radius: .1875rem;
    background-color: #ff7a59;
    display: inline-block;
    text-align: center;
    color: white;
    padding: 15px;
}
img{
    height: 30px;
    width: 30px;
    padding-bottom: 7%;
    float: left;
}
.allineamento{
    display: table;
}
a{
    text-decoration-line: none;
}
.linea{
    padding-top: 15px;
    display: inline-block;
    /* text-align: center; */
}

/* fine proprietà utili da reciclare */

#header-top{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #f5f8fa;
}

#header-top-left{
   width: 50%;
   height: 100%;
   float: left;
   /* background-color: yellow; */
   padding-top: 3%;
}

#header-top-left a{
    float: left;
    color: #33475b;
    border-right: 1px solid #cbd6e2;
}
#header-top-left span a{
    padding-left: 5%;
}

#header-top-right{
    height: 100%;
    float: right;
    /* background-color: green; */
}
#header-top-right a{
    float: left;
    border: 1px solid #ff7a59;
    border-radius: 3px;
    padding: 10px;
    font-size: 11px;
}

 #uno-top-right{
     padding-left: 15px;
 }

#due-top-right{
    padding-left: 4px;
}
#secblockd {
    background-color: #e66e50;
    color: white;
}

hr{
    border: .5px solid #cbd6e2;
}
#header-bottom{
    padding-top: 80px;
    height: 160px;
    /* background-color: red; */
}
#header-bottom-left{
   width: 30%;
   height: 100%;
   float: left;
   /* background-color: blue; */
}
#header-bottom-left img{
    margin-top: 13px;
    height: 90px;
    width: 90px;
}
#header-bottom-right{
    float: right;
    height: 100%;
    /* background-color: purple; */
}

#header-bottom-right a{
    display: inline;
    float: left;
    padding-right: 30px;
    padding-top: 40px;
}

#sotto-header{
    box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
    border-bottom: 3px solid #33475b;
}
#img-no{
    padding-top: 9%;
    width: 30%;
    padding-bottom: 8%;
    color: #33475b;
}

#img-no h1{
    /* height: 20%; */
    /* background-color: darkgreen; */
    color: #33475b;
    font-size: 40px;
    padding-bottom: 15px;
}

#img-no p{
    height: 20%;
    width: auto;
    font-size: 15px;
}
#img-no p:last-child  {
    padding-top: 15px;
    font-size: 11px;
    width: 150px;
}
/* fine prima pagina */
/* inizio seconda pagina */
#seconda-pagina {
    box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee);
}

#seconda-pagina .container{
padding-top: 80px;
padding-bottom: 80px;
}

#test-sx-top{
    width: 30%;
    float: left;
}
#test-sx-top h1{
    font-size: 40px;
}

.effetto:hover{
    box-shadow: 12px 10px 10px 12px rgba(51,71,91,0.12);
    /* padding: 5px; */
}
#text-dx-top-effetto:hover {
    /* background-color: rgba(51,71,91,0.12);
    background-image: linear-gradient(to top right, #fef8f0, #fff3ee, #fff1ee); */
    box-shadow: 12px 10px 10px 12px rgba(51,71,91,0.12);
    width: 70%;
    /* height: 330px; */
}
#text-dx-top-effetto{
    width: 69%;
    /* height: 300px; */
    float: left;
    padding-top: 4%;
    padding-left: 2%;
    background-color: white;
}
#test-dx-top{
    /* width: 70%; */
    float: left;
    background-color: white;
    /* border: 2px solid black; */
}
#test-dx-top p{
    font-size: 20px;
}
/* #test-dx-top  */
h4{
    padding-top: 12px;
    font-size: 14px;
}

#test-dx-top li{
    padding-top: 12px;
    display: inline-block;
    float: left;
}
#test-dx-top .button{
float: right;
margin: 25px;
}

#test-sx-bottom{
float:left;
width: 30%;
padding-right: 2%;
background-color: white;
/* border: 2px solid black; */
/* padding: 8px; */
}

#test-cx-bottom{
    float: left;
    width: 34%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    background-color: white;
    /* padding: 8px; */
    /* border: 2px solid black; */
}

#test-dx-bottom{
    float: left;
    width: 33%;
    background-color: white;
    /* padding: 8px; */
    /* border: 2px solid black; */
}

h3{
    padding-bottom: 10px;
}
#seconda-pagina-parte-inferiore ul{
    margin-left: 18px;
}
#seconda-pagina-parte-inferiore li{
    padding-left: 10px;
}

#seconda-pagina-parte-inferiore .button{
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/* fine seconda pagina- inizio terza */
#terza-pagina{
    /* height: 100vh; */
    padding-top: 80px;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
    color: white;
}
#terza-pagina .container{
    /* border: 2px solid black; */
}
#text-top-center-terza-pagina{
    /* width: 100%;
    text-align: center; */
}

.headerterzapagina h2{
    /*padding-left: 90px;
    font-weight: 700;
    width: 56%; */
    float: left;
    padding-top: 60px;
    padding-left: 300px;
    font-weight: 700;
    width: 74%;
    text-align: center;
}

.headerterzapagina p{
    float: left;
    padding-top: 18px;
    padding-left: 90px;
    font-size: 14px;
    text-align: center;
    padding-left: 300px;
    /* background-color: gold; */
    width: 74%;
}
#parte-tabella-primariga{
    padding-top: 60px;
    float: left;
    width: 100%;
}
#parte-tabella-secondariga{
    float: left;
    width: 100%;
}
.bordertab{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    /* border-top: none; */
}
.lineatab{
    display: inline-block;
}
.flosx{
    float:left;
}
.flodx{
    float: right;
}
.noborderbottom{
border-bottom: none;
}
.noborderright{
    border-right: none;
}
#tabella{
    /* padding-left: 25%; */
    width: 1000px;
    text-align: center;
    margin: auto;
    /* padding-bottom: 30px; */
}
#tabella h2{
    padding-top: 4%;
}
#tabella p{
    padding: 4%;
}
#parte-tabella-secondariga{

}
.blc{
    width: 25%;
    padding: 4px;
}
#quarta-pagina{
    height: 100vh;
    background-color: #fff;
    padding-top: 80px;
    }

#quinta-pagina{
    height: 90vh;
    background-color: darkblue;
    }
