* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1080px;
    margin: auto;
    height: 100%;
}

.container::after{
    clear: both;
    display: table;
    content: '';
}

.clearfix{
    clear: both;
    display: table;
    content: '';
}

.button{
    border-radius: .1875rem;
    background-color: #ff7a59;
    width: 100%;
    display: inline-block;
    text-align: center;
    color: white;
}
#prima-pagina{
    height: 100vh;
}

#header-top{
    height: 15vh;
    background-color: grey;
}

#header-top-left{
   width: 50%;
   height: 100%;
   float: left;
   background-color: yellow;
}

#header-top-right{
    width: 50%;
    height: 100%;
    float: left;
    background-color: green;
}
#header-bottom{
    height: 15vh;
    background-color: red;
}

#header-bottom-left{
   width: 30%;
   height: 100%;
   float: left;
   background-color: blue;
}

#header-bottom-right{
    width: 70%;
    height: 100%;
    float: left;
    background-color: purple;
}

#sotto-header{
    height: 70vh;
    background-color: lightcoral;
    box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
}
#img-no{
    padding-top: 9%;
    height: 100%;
    width: 30%;
    background-color: gold;
}

#img-no h1{
    height: 20%;
    background-color: darkgreen;
}

#img-no p{
    height: 20%;
background-color: white;
}

#img-no button{
    height: 10%;
    width: 40%;
background-color: red;
}

#seconda-pagina{
    height: 100vh;
    background-color: #f5f8fa;
}

#test-sx-top{
    width: 30%;
    float: left;
    height: 20%;
    background-color: grey;
}
#test-dx-top{
    margin-top: 2%;
    padding-top: 4%;
    padding-left: 2%;
    width: 70%;
    float: left;
    height: 20%;
    background-color: white;
    margin-bottom: 2%;
}

#test-dx-top .li{
    display: inline-block;
}
#test-dx-top .button{

}

#terza-pagina{
    height: 100vh;
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}
#quarta-pagina{
    height: 100vh;
    background-color: #fff;
    }
#quinta-pagina{
    height: 90vh;
    background-color: darkblue;
    }
